body{
	background: url(../images/1.jpg);
	width:100%;
	background-repeat: no-repeat;
	border: 0px solid red;
	margin: 0px;
	background-position:50% 50%;
	background-size:100% 100%;
	position: relative;
}
.beijing{
	position: absolute;
	width: 100%;
	top:0px;
	display: none;
	background-size: 100% 100%;
	z-index: -1;
}
ol{
	list-style-type: none;
}
#logo{
	width: 425px;
	margin: 0 auto;
	border: 0px yellow solid;
	padding-top: 80px;
	position: relative;

}
#biglogo{
	font-size: 95px;
	color: #000;
	line-height: 100px;
	font-weight: 40px;
	padding: 0px;
	border: 0px red solid;
	margin: 0 auto;
	text-align: center;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
#desc{
	font-size: 22px;
	color: #000;
	border: 0px white solid;
	margin: 0 auto;
	text-align: center;

	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
a{
	text-decoration: none;
}
#enter{
	width: 584px;
	height: 270px;
	text-align: center;
	margin: 0 auto;
	border: 0px red solid;
	margin-top: 60px;


}
.nav{
	width: 584px;
	height: 56px;
	border: 0px red solid;
	font-size: 36px;
	line-height: 56px;
	text-align: left;
	color: rgb(136, 136, 136);

}
#signUp{
	border: 0px solid yellow;
	padding: 10px 100px;
	background-color:rgba(17, 17, 17, 0.158039);
	cursor: pointer;
	color:rgba(255, 255, 255, 0.498039);
}
#signUp:hover{
	color:rgb(255, 255, 255);

}

#logIn{
	border: 0px solid blue;
	padding: 10px 111px;
	background-color: #fff;
	cursor: pointer;
	color: #444;
}
.list{
	border:0px red solid;
	background-color: #fff;
	width: 575px;
	height: 214px;
}
#list_1{
	height: 154px;
	text-align: center;
	margin: 0px;
	padding-top: 10px;
}
ul{
	list-style: none;
	text-align: center;
	padding: 0px;
}
.shuru{
	text-align: left;
	padding-left: 30px;
}
.shuru input{
	padding: 0px;
	margin: 0px;
	border: 1px solid;
	border-color: rgb(215,215,215);
	line-height: 40px;
	width: 300px;
}
.tijiao{
	margin-top: 10px;
	margin-left: 30px;
	width: 300px;
	background-color: #A2CD5A;
	cursor: pointer;

}
.tijiao input{
	width: 300px;
	height: 40px;
	background-color: #A2CD5A;
	padding: 0px;
	border: 0px;
}
.pwd{
	height: 16px;
	margin-top: 10px;
	width: 300px;
	line-height: 16px;
	text-align: left;
	margin-left: 30px;
	font-size: 12px;
	color: #777;
	position: relative;
}
.pwd input{
	margin-left: 0px;
	margin-top: 0px;
	font-size: 16px;
	width: 16px;
	height: 16px;
	color: #A2CD5A;
	background-color: #000;
	line-height: 16px;
}
#jiPwd{
	width: 72px;
	text-align: left;
	vertical-align: top;
}

#findPwd{
	width: 48px;
	height: 16px;
	line-height: 16px;
	text-align: right;
	margin-right: 0px;
	position: absolute;
	right: 0px;
}
#previousBtn{
	text-align: right;
	margin-top: 65px;
}
#nextBtn{
	text-align: right;
	margin-top: 10px;
	}
#cnzz_stat_icon_1256322924{
	display: block;
	width:100%;
	text-align: center;
}
