*.a{
	text-decoration: none;
}
body{
	margin: 0px;
}
body{
	background-color: #FFFFE0;
}
#header{
	width: 1360px;
	height: 72px;
	background-color: #3CB371  ;
	border: 0px red solid;
	margin: 0px;
	font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Segoe UI', 
		'Microsoft Yahei', 微软雅黑, Tahoma, Arial, STHeiti, sans-serif;
	color:rgba(255, 255, 255, 0.498039);
}
#logo{
	margin-left: 222.500px;
	width: 85px;
	color: #eee;
	line-height: 72px;
	border: 0px red solid;
	padding-right: 780px;
	font-size: 38px;
	font-weight: 700px;
}
#about{	
	width: 900px;
	text-align: right;
	border: 0px red solid;
}
.list{
	list-style: none;
}
#content_update{	
	margin-left: 200.500px;
	border: 0px red solid;
}
#content_update img{
	width: 64px;
	height: 64px;	
	border: 0px red solid;
}
.list{
	padding-left: 0px;
}
.list1{
	margin-left: 0px;
	width: 625px;
	text-align: left;
	border: 0px red solid;
}

.listContent{
	display: block;
	width: 544px;
	float: right;
	border: 1px red solid;

}
#content_list{
	width: 250px;
}
#footer{

}